@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");

* {
    font-family: "Crimson Pro", Georgia, serif;
    color: #2f4f4f;
}

.bigger {
    font-size: larger;
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

body {
    background-color: aliceblue;
}

body.fantasy {
    min-height: 650px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center ;
}

header {
    background: linear-gradient(#e64465, #9198e5);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a6a9a9;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(71, 61, 138);
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

article {
    font-size: 15px;
}

article h2 {
    text-decoration: underline;
    font-size: 20px;
}

article p {
    text-align: justify;
}

ul.list-type-empty {
    list-style-type: none;
}

ul.list-type-circle {
    list-style-type: circle;
}

ol.list-type-upper-roman {
    list-style-type: upper-roman;
}


