<!DOCTYPE html>
<html lang="fr">
    <head>
        <base href="https://cdn.jsdelivr.net/gh/Raphhh/ephec-lpow-tp@master/exercices/php/01_display/corrections/f-assoc/"></base>
        <title>H&M edition</title>
        <link href="./resources/styles/main.css" rel="stylesheet"></link>
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://www2.hm.com/etc.clientlibs/settings/wcm/designs/hm/clientlibs/shared/resources/favicon/favicon.ico">
    </head>
    <body class="sitcky">
        <header>
            <img class="logo" src="./resources/images/logo.png">
        </header>

        <h1>H&M edition</h1>
        <p>Vous allez adorer nos nouveautés. Robes, hauts, pantalons, vêtements d’extérieur... Voici les articles incontournables.</p>
            
        <section class="articles">

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/0-0.jpg" alt="Pantalon en soie mélangée">
                        <img src="./data/images/0-1.jpg" alt="Pantalon en soie mélangée">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                            Premium Selection
                    </p>
                    <h3>Pantalon en soie mélangée</h3>
                    <div class="item-price">119,00 €</div>
                    <div class="item-color" style="background-color: #272628">Noir</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/1-0.jpg" alt="Pantalon ample en lin">
                        <img src="./data/images/1-1.jpg" alt="Pantalon ample en lin">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                            Premium Selection
                    </p>
                    <h3>Pantalon ample en lin</h3>
                    <div class="item-price">69,99 €</div>
                    <div class="item-color" style="background-color: #272628">Noir</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/2-0.jpg" alt="Textured-weave blazer">
                        <img src="./data/images/2-1.jpg" alt="Textured-weave blazer">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                                            </p>
                    <h3>Textured-weave blazer</h3>
                    <div class="item-price">69,99 €</div>
                    <div class="item-color" style="background-color: #272628">Noir</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/3-0.jpg" alt="Gilet de costume en lin">
                        <img src="./data/images/3-1.jpg" alt="Gilet de costume en lin">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                            Premium Selection
                    </p>
                    <h3>Gilet de costume en lin</h3>
                    <div class="item-price">69,99 €</div>
                    <div class="item-color" style="background-color: #CEC3B0">Beige clair</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/4-0.jpg" alt="Robe en maille de soie mélangée">
                        <img src="./data/images/4-1.jpg" alt="Robe en maille de soie mélangée">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                                                    Premium Selection
                                            </p>
                    <h3>Robe en maille de soie mélangée</h3>
                    <div class="item-price">89,99 €</div>
                    <div class="item-color" style="background-color: #EEECE0">Beige clair</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/5-0.jpg" alt="Jupe crayon en laine">
                        <img src="./data/images/5-1.jpg" alt="Jupe crayon en laine">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                            Premium Selection
                    </p>
                    <h3>Jupe crayon en laine</h3>
                    <div class="item-price">129,99 €</div>
                    <div class="item-color" style="background-color: #272628">Noir</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/6-0.jpg" alt="Robe en lyocell mélangé avec détail noué">
                        <img src="./data/images/6-1.jpg" alt="Robe en lyocell mélangé avec détail noué">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                    </p>
                    <h3>Robe en lyocell mélangé avec détail noué</h3>
                    <div class="item-price">59,99 €</div>
                    <div class="item-color" style="background-color: #4F453F">Marron</div>
                </div>
            </article>

                        
            <article>
                <div class="gallery">
                        <img src="./data/images/7-0.jpg" alt="Jupe en maille côtelée">
                        <img src="./data/images/7-1.jpg" alt="Jupe en maille côtelée">
                </div>
                <div class="details">
                    <p class="marketing-marker">
                    </p>
                    <h3>Jupe en maille côtelée</h3>
                    <div class="item-price">39,99 €</div>
                    <div class="item-color" style="background-color: #272628">Noir</div>
                </div>
            </article>

                    
        </section>
    </body>
    <script src="./resources/scripts/main.js"></script>
</html>